*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  background-color: #555555; }

.transition {
  transition: all 1s cubic-bezier(0.48, 0.36, 0.5, 1.31); }

.off__up {
  opacity: 0;
  transform: translateY(80%); }

.on__up {
  opacity: 1;
  transform: translateY(0); }

.off__right {
  opacity: 0;
  transform: translateX(-100%); }

.on__right {
  opacity: 1;
  transform: translateX(0); }

.on {
  display: inline-block !important; }

.off {
  display: none !important; }

.left {
  left: 0; }

.left-move {
  left: 100%; }

.right {
  right: 0; }

.right-move {
  right: 100%; }

.top {
  top: 0; }

.top-move {
  top: 100%; }

.bottom {
  bottom: 0; }

.bottom-move {
  bottom: 100%; }

.index-small {
  z-index: 0; }

.index-huge {
  z-index: 100; }

.color-blue {
  background-color: #4997a0 !important;
  color: #003e47 !important; }

.color-orange {
  background-color: #ffc8a0 !important;
  color: #c86745 !important; }

.color-green {
  background-color: #b9ffd5 !important;
  color: #4ecb73 !important; }

.color-rose {
  background-color: #ffa799 !important;
  color: #c74440 !important; }

.h1 {
  font-size: 1.4rem;
  padding: .5rem; }

.h2 {
  font-size: 3rem;
  padding: .5rem; }

.hover__blue-dark {
  transition: all .2s; }

.hover__orange-dark {
  transition: all .2s; }

.name {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #086972;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: all .8s; }
  @media (min-width: 39.1em) {
    .name {
      align-items: flex-end;
      justify-content: flex-start; } }
  @media (min-width: 991px) {
    .name {
      align-items: flex-end;
      justify-content: center; } }
  .name:hover {
    background-color: #4997a0; }
    .name:hover .name__h1 {
      color: #003e47; }
  .name__h1 {
    transition: all 0 !important;
    display: inline-block;
    text-align: right;
    color: #4997a0; }
  .name__span-name {
    color: #ffc8a0; }
  .name__span-last {
    color: #4997a0; }
  .name__h2 {
    color: #2c2c2c; }
  .name__content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .name__content-box {
      position: relative;
      background-image: url(../img/portret.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .name__content-box-overlay-max {
        position: absolute;
        background-color: rgba(73, 151, 160, 0.6); }
      .name__content-box-overlay-mid {
        position: absolute;
        background-color: rgba(73, 151, 160, 0.7); }
      .name__content-box-overlay-min {
        position: absolute;
        background-color: rgba(73, 151, 160, 0.8); }
  .name__btn {
    text-align: start;
    padding: 1rem;
    cursor: pointer; }
    .name__btn-a:link, .name__btn-a:visited {
      text-decoration: none;
      color: #818181;
      font-size: 1.8rem;
      font-weight: 700; }

.nav {
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__name {
    cursor: pointer;
    font-size: 1.8rem;
    text-align: left;
    color: #4997a0;
    padding: 1.5rem .3rem 1.5rem 0;
    margin-top: 1rem; }
  .nav__box {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .nav__box-span {
      width: 100%;
      height: .3rem;
      transition: all .2s; }
    .nav__box-transform {
      transition: all .4s; }
    .nav__box-off {
      transform: rotate(0); }
    .nav__box-on {
      transform: rotate(90deg); }
  .nav__menu {
    position: fixed;
    z-index: 1000;
    top: 5rem;
    right: 0;
    width: 50%;
    height: 100vh;
    list-style: none;
    padding: 1rem 0 1rem 1rem; }
    @media (min-width: 39.1em) {
      .nav__menu {
        width: 35%; } }
    @media (min-width: 769px) {
      .nav__menu {
        width: 25%; } }
    .nav__menu-transform {
      transition: all .2s ease-in; }
    .nav__menu-off {
      transform: translateX(100%); }
    .nav__menu-on {
      transform: translateX(0); }
    .nav__menu-li {
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      color: #086972;
      padding: .5rem 1rem; }
    .nav__menu-a, .nav__menu-a:link, .nav__menu-a:visited {
      text-decoration: none;
      color: #818181; }
      .nav__menu-a:hover, .nav__menu-a:link:hover, .nav__menu-a:visited:hover {
        color: #4997a0; }
      .nav__menu-a:active, .nav__menu-a:link:active, .nav__menu-a:visited:active {
        color: #003e47; }
    .nav__menu-photo {
      width: 100%;
      height: 100%;
      background-image: url("../img/menu__img.jpg");
      background-size: cover; }
    .nav__menu-pic {
      background-size: cover; }

.story {
  height: 100%;
  width: 100%;
  background-color: #ff756b;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  transition: all .8s; }
  @media (min-width: 39.1em) {
    .story {
      align-items: flex-end;
      justify-content: flex-end; } }
  .story:hover, .story:focus, .story:active {
    background-color: #ffa799; }
    .story:hover .story__h1, .story:focus .story__h1, .story:active .story__h1 {
      color: #c74440; }
  .story__h1 {
    color: #2c2c2c; }
  .story__p {
    font-size: 1.6rem; }

.projects {
  height: 100%;
  width: 100%;
  background-color: #84ffa3;
  color: #2c2c2c;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .8s; }
  @media (min-width: 991px) {
    .projects {
      align-items: flex-end;
      justify-content: flex-start; } }
  .projects:hover {
    background-color: #b9ffd5; }
    .projects:hover .projects__h1 {
      color: #4ecb73; }
  .projects__grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .projects__h2 {
    font-size: 2.8rem;
    width: min-content; }
    @media (min-width: 39.1em) {
      .projects__h2 {
        font-size: 4rem; } }
    @media (min-width: 769px) {
      .projects__h2 {
        font-size: 5rem; } }
    @media (min-width: 991px) {
      .projects__h2 {
        font-size: 4.8rem; } }
  .projects__content {
    height: 100%; }
  .projects__h2:not(:last-of-type) {
    width: min-content; }
  .projects__h2-dark {
    color: #4ecb73; }
  .projects__h2-light {
    color: #b9ffd5;
    text-align: right; }
  .projects__box-dark {
    background-color: #4ecb73; }
  .projects__box-light {
    background-color: #b9ffd5; }
  .projects__linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .projects__link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #84ffa3;
    color: #4ecb73;
    transition: all .6s; }
    @media (min-width: 39.1em) {
      .projects__link {
        font-size: 3.4rem; } }
    @media (min-width: 991px) {
      .projects__link {
        font-size: 2.2rem; } }
    .projects__link:hover {
      background-color: #4ecb73;
      color: #b9ffd5; }
    .projects__link:active, .projects__linkvisited {
      text-decoration: none; }

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background-color: #ff9671;
  text-transform: none;
  cursor: pointer;
  transition: all .8s; }
  @media (min-width: 991px) {
    .contact {
      height: 100%;
      justify-content: center;
      align-items: center; } }
  .contact:hover, .contact:focus, .contact:active {
    background-color: #ffc8a0; }
    .contact:hover .contact__h1, .contact:focus .contact__h1, .contact:active .contact__h1 {
      color: #c86745; }
  .contact__h1 {
    color: #2c2c2c; }
  .contact__content-ul {
    list-style-type: none; }
    .contact__content-ul-h3 {
      font-size: 2rem; }
    .contact__content-ul-li {
      font-size: 1rem; }
      @media (min-width: 39.1em) {
        .contact__content-ul-li {
          font-size: 2rem; } }

.header-one {
  margin: 5rem;
  font-size: 4rem;
  color: #fff;
  border-bottom: 5px solid #fff; }
  @media (min-width: 39.1em) {
    .header-one {
      font-size: 8rem; } }
  .header-one-img {
    color: #222908; }

.container {
  display: flex;
  flex-direction: column;
  background-color: #555555;
  height: 100vh;
  width: 100%; }
  @media (min-width: 769px) {
    .container {
      flex-direction: row; } }

.container-header {
  height: 50vh;
  background-color: #000; }
  @media (min-width: 769px) {
    .container-header {
      flex: 0 0 50%;
      height: 100vh; } }

.container-move {
  height: 50vh;
  flex: 0 0 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  @media (min-width: 769px) {
    .container-move {
      height: 100vh; } }

.section__name {
  position: relative;
  background-color: #003e47; }

.section__story {
  position: relative;
  background-color: #c74440; }

.section__projects {
  position: relative;
  background-color: #4ecb73; }

.section__contact {
  position: relative;
  background-color: #c86745; }

.fill {
  height: 100%;
  width: 100%;
  background-color: #887634;
  display: flex; }
  .fill-reload {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 20%;
    color: #2c2c2c;
    cursor: pointer; }
