
// COLORS

$color-gray: #3b3c38;
$color-gray-light: #97a98b;
$color-gray-dark: #16161a;

$color-blue: #086972;
$color-blue-light: #88bef5;
$color-blue-dark: #071a52;

$color-green: #2cb67d;
$color-green-light: #96f7d2;
$color-green-dark: #0b8457;

//  BORDER

$border-gray-light: .3rem solid $color-gray-light;
$border-gray-dark: .3rem solid $color-gray-dark;