
// COLORS

$color-gray:#555555;
$color-gray-light: #818181;
$color-gray-dark: #2c2c2c;

$color-blue: #086972;
$color-blue-light: #4997a0;
$color-blue-dark: #003e47;

$color-orange: #ff9671;
$color-orange-light: #ffc8a0;
$color-orange-dark: #c86745;

$color-green: #84ffa3;
$color-green-light: #b9ffd5;
$color-green-dark: #4ecb73;

$color-rose: #ff756b;
$color-rose-light: #ffa799;
$color-rose-dark: #c74440;