.contact {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: absolute;
    bottom: 0;

    background-color: $color-orange;

    text-transform: none;

    cursor: pointer;
    transition: all .8s;

    @include respond(one-k) {
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-orange-light;
        .contact__h1 {
            color: $color-orange-dark;
        }
    }
    &__h1 {
        color: $color-gray-dark
    }

    &__contact {
        list-style: none;

        &-li {
            font-size: 1.2rem;
            font-weight: 400;
            padding: .5rem;
            color: $color-gray-light;

            @include respond(tab-port) {
                font-size: 1.8rem;
            }
        }
    }
}