.footer {
    margin-left: $margin-phone;

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        margin-left: $margin-tab-port;
    }
    @include respond(tab-land) {
        justify-content: center;
        align-items: left;
        margin: 0 auto;
    }

    &__contact {
        list-style: none;

        &-li {
            font-size: 1.2rem;
            font-weight: 400;
            padding: .5rem;
            color: $color-gray-light;

            @include respond(tab-port) {
                font-size: 1.8rem;
            }
        }
    }
}