.nav {
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 900;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
        cursor: pointer;
        font-size: 1.8rem;
        text-align: left;
        color: $color-blue-light;
        padding: 1.5rem .3rem 1.5rem 0;
        // margin-left: $margin-phone;
        margin-top: 1rem;
        // border-left: $border-gray-light;


        @include respond(tab-port) {
            // margin-left: $margin-tab-port;
        }
        @include respond(tab-land) {
            // margin-left: $margin-tab-land;
        }

    }
    &__box {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        

        &:hover &-span {
        //    background-color: $color-gray-dark;
        }

        &-span {
            width: 100%;
            height: .3rem;
            // background-color: $color-gray-light;
            transition: all .2s;
        }

        &-transform {
            transition: all .4s;
        }
        &-off {
            transform: rotate(0);
        }
        &-on {
            transform: rotate(90deg);
        }
    }
    
    &__menu {
        position: fixed;
        z-index: 1000;
        top: 5rem;
        right: 0;
        width: 50%;
        height: 100vh;
        // background-color: $color-gray-dark;
        list-style: none;
        padding: 1rem 0 1rem 1rem;

        @include respond(tab-port) {
           width: 35%;
        }
        @include respond(tab-land) {
           width: 25%;
        }


        &-transform {
            transition: all .2s ease-in;
        }
        &-off {
            transform: translateX(100%);
        }
        &-on {
            transform: translateX(0);
        }

        &-li {
            cursor: pointer;
            font-size: 2rem;
            font-weight: 700;
            color: $color-blue;
            padding: .5rem 1rem;

            
        }
        &-a,
        &-a:link,
        &-a:visited {
            text-decoration: none;
            color: $color-gray-light; 
            &:hover {
                color: $color-blue-light;
            }
            &:active {
                color: $color-blue-dark;
            }
        }      
        
        &-photo {
            width: 100%;
            height: 100%;
           background-image: url("../img/menu__img.jpg");
           background-size: cover;

        }
        &-pic {
            background-size: cover;
        }
    }
}