.story {
    width: $width-phone;
    height: 100%;
    margin-left: $margin-phone;
    color: $color-gray;

    @include respond(tab-port) {
        width: $width-tab-port;
        margin-left: $margin-tab-port;
    }
    @include respond(tab-land) {
        width: 100%;
        margin-left: 0;
    }
    // &__h1 {

    // }
    &__p {

        @include respond(tab-land) {
            // margin-left: $margin-p-tab-land;
        }
    }
}

