.story {
    height: 100%;
    width: 100%;
    background-color: $color-rose;

    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: left;

    cursor: pointer;
    transition: all .8s;

    @include respond(tab-port) {
        align-items: flex-end;
        justify-content: flex-end;
    }
    @include respond(one-k) {
        // height: 100%;
        // width: 100%;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: $color-rose-light;
        .story__h1 {
            color: $color-rose-dark;
        }
    }
    &__h1 {
        color: $color-gray-dark;
    }
    &__p {
        font-size: 1.6rem;
        @include respond(tab-land) {
        }
    }
}

