.h1 {
    font-size: 1rem !important; 
    padding: .5rem;

    // writing-mode: vertical-lr;
    // text-orientation: upright;

    @include respond(phone) {
        // font-size: 5rem;
    }
    @include respond(tab-port) {
        font-size: 2.2rem !important;
    }
    @include respond(tab-land) {
        // font-size: 6rem;
        // writing-mode: horizontal-tb;
        // text-orientation: inherit;
    }
    @include respond(one-k) {
        // font-size: 1.8rem !important;
    }
    @include respond(big-screen) {
        // font-size: 10rem;
    }
}

.h2 {
    font-size: 3rem;
    padding: .5rem;

    @include respond(phone) {
    }
    @include respond(tab-port) {
    }
}