.transition {
    transition: all 1s cubic-bezier(.48,.36,.5,1.31);
}
// TRANSFORM UP
.off__up {
    opacity: 0;
    transform: translateY(80%);
}
.on__up {
    opacity: 1;
    transform: translateY(0);
}
// TRANSFORM RIGHT
.off__right {
    opacity: 0;
    transform: translateX(-100%);
}

.on__right {
    opacity: 1;
    transform: translateX(0);
}
.on {
    display: inline-block !important;
}
.off {
    display: none !important; 
}
.left {
    left: 0;
}
.left-move {
    left: 100%;
}
.right {
    right: 0;
}
.right-move {
    right: 100%;
}
.top {
    top: 0;
}
.top-move {
    top: 100%; 
}
.bottom {
    bottom: 0;
}
.bottom-move {
   bottom: 100%
}
.index-small {
    z-index: 0;
}
.index-huge {
    z-index: 100;
}
.color-blue {
    background-color: $color-blue-light !important;
    color: $color-blue-dark !important;
}
.color-orange {
    background-color: $color-orange-light !important;
    color: $color-orange-dark !important;
}
.color-green {
    background-color: $color-green-light !important;
    color: $color-green-dark !important;
}
.color-rose {
    background-color: $color-rose-light !important;
    color: $color-rose-dark !important; 
}