.container {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: $color-gray;
}
.section__name {
    position: relative;
    background-color: $color-blue-dark;
}
.section__story {
    position: relative;
    background-color: $color-rose-dark;
}
.section__projects {
    position: relative;
    background-color: $color-green-dark;
}
.section__contact {
    position: relative;
    background-color: $color-orange-dark;
}