.container {
    position: relative;
    background-color: $color-gray;
}
header {
    height: 100vh;
}
.section__story {
    height: 100%;
    background-color: $color-orange-dark;
}
.section__projects {
    height: 100%;
    background-color: $color-blue;
}
.section__footer {
    // height: 20vh;
}