.container {
    position: relative;
    background-color: $color-gray;
}
header {
    height: 100vh;
    background-color: $color-gray;
}
.section__story {
    height: 100vh;
    background-color: $color-gray;
}
.section__skills {
    height: 100vh;
}